body {
    background-color: rgb(120, 129, 136);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
    text-shadow: -1px 3px 6px rgba(0, 0, 0, 0.791);
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.357);
}
strong {
    color: rgb(65, 72, 78);
}
p#botton {
    margin-left: 35pt;
    padding: 10pt;
    font-size: 20pt;
}
/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
} */
input#num::-webkit-inner-spin-button {
 display: none;
}
select#tabsel {
    padding: 5pt;
    margin-left: 45pt;
    margin-top: 10pt;
    margin-bottom: 20pt;
    background-color: rgb(103, 135, 159);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.761);
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.51);
    box-shadow: inset 3px -3px 5px rgba(0, 0, 0, 0.24);
}
input#b {
    background-color: rgb(107, 129, 139);
    color: white;
}
option {
    padding: 4pt;
    color: white;
    font-size: 15pt;
}
select#tabsel::-webkit-scrollbar {
display: none;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
input#num {
    background-color: rgb(103, 135, 159);
    color: white;
    text-shadow: 2px 2px 5px black;
    border-radius: 5px;
    height: 20pt;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: inset 2px -2px 5px rgba(0, 0, 0, 0.464);
}